/* Importar Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;700&display=swap');

/* Reset de Margen y Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #fde2e4 0%, #f8b195 100%);
    color: #333;
}

/* Contenedor Principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Títulos */
h1 {
    font-family: 'Pacifico', cursive;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    font-size: 4em;
    /* Ajustado */
    
}

h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 2em;
    /* Ajustado */
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px #000;
    animation: latidos 3s infinite ease-in-out;
}

/* Slider */

.slider-container {
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0 auto 30px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.slider-container .slides img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 100%;
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Controles del Slider */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    /* Fondo transparente */
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transition: color 0.3s ease;
}

.prev:hover,
.next:hover {
    color: rgba(255, 255, 255, 0.9);
    /* Color blanco más intenso al pasar el mouse */
}

.prev::before {
    content: '‹';
    /* Símbolo de flecha izquierda */
}

.next::before {
    content: '›';
    /* Símbolo de flecha derecha */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


/* Sección de Frases */
.frase {
    margin: 20px 0;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    background: rgba(255, 255, 255, 0.3);
    padding: 15px;
    border-radius: 10px;
    font-style: italic;
}

/* Imagen de Arcoíris Logo */
.icono-arcoiris {
    width: 150px;
    vertical-align: middle;
    animation: swing 2s infinite ease-in-out;
}

.icono-arcoiris:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Imagen de Arcoíris */
.arcoiris img {
    width: 120%;
    max-width: 300px;
    margin: 20px 0;
    border: 5px solid #fff;
    border-radius: 50%;
}


/* Sección de Padrinos */
.padrinos {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.padrinos h3 {
    font-family: 'Pacifico', cursive;
    color: #50030b;
    margin-bottom: 10px;
    font-size: 2em;
    animation: float 3s infinite ease-in-out;
}

.padrinos p {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

/* Botones de Acción */
.actions .button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #fff;
    color: #fda085;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Roboto', sans-serif;
    
}

.actions .button:hover {
    background-color: #fda085;
    color: #fff;
}

#confirmar {
    animation: latidos 2s infinite ease-in-out;
}

.footer-copyright {
    text-align: center;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4); 
    bottom: 5px;
    width: 100%;
    z-index: 100;
    pointer-events: none; 
    font-family: 'Roboto', sans-serif; 
}

/* Posicionamiento del botón */
#music-control {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    background-color: #ff006e; /* Color llamativo */
    border: none;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    backdrop-filter: blur(5px); /* Efecto de fondo suave */
    transition: background-color 0.3s;
}

/* Efecto hover */
#music-control:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Más visible al pasar el mouse */
}

/* Ícono del botón (pausa/play) */
#music-control i {
    font-size: 24px; /* Tamaño del ícono */
}

/* Responsividad */
@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
        /* Reducir tamaño en móviles */
    }

    h2 {
        font-size: 1.5em;
        /* Reducir tamaño en móviles */
    }

    .padrinos h3 {
        font-size: 1.5em;
        /* Reducir tamaño en móviles */
    }

    .actions .button {
        padding: 10px 20px;
        /* Reducir padding en móviles */
        font-size: 1em;
        /* Reducir tamaño de fuente en móviles */
    }

    /* Imagen de Arcoíris Logo */
    .icono-arcoiris {
        width: 110px;
        vertical-align: middle;
    }

    /* Slider moviles */

    .slider-container .slides img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 100%;
    }

}

.frase,
.padrinos {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
}

/* Añadir retraso a las animaciones para un efecto secuencial */
.frase:nth-of-type(1) {
    animation-delay: 0.5s;
}

.arcoiris {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 1s;
}

.frase:nth-of-type(2) {
    animation-delay: 1.5s;
}

.padrinos {
    animation-delay: 2s;
}

.frase:nth-of-type(3) {
    animation-delay: 2.5s;
}

/*Estrellas*/
h1 i {
    color: #fda085;
    margin: 0 10px;
    font-size: 0.8em;
    /* Ajustar tamaño según sea necesario */
}

/* Animaciones */

@keyframes latidos {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Crece ligeramente */
    }
}

@keyframes swing {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Crece ligeramente */
    }
}

@keyframes colorGlow {
    0% {
        color: #ff7eb3;
    }
    50% {
        color: #ffb347;
    }
    100% {
        color: #ff7eb3;
    }
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Animación para aparecer */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}